code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --veryDarkGray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
  --white: hsl(0, 0%, 92.5%);
  --pure-white: #fff;
  --very-dark: hsl(0, 0%, 0%);

  --small-border-radius: 12px;

  --mobile-view-port: 375px;
  --desktop-view-port: 1440px;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --font-family-1: "Rubik", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg {
  background-image: url(./assets/images/pattern-bg.png);
}
