code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --veryDarkGray: hsl(0, 0%, 17%);
  --darkGray: hsl(0, 0%, 59%);

  --mobile-view-port: 375px;
  --desktop-view-port: 1440px;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --font-family-1: "Rubik", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
